<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table class ="table">
  <thead>
    <tr>
      <th>Artist (Genre)</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist.name %> (<%= song.artist.genre.name %>)</td>
        <td><%= song.name %></td>
        <td><%= link_to 'Show', song, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_song_path(song), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path , class: "btn btn-default" %>
