<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist.name %>
</p>

<%= link_to 'Edit', edit_song_path(@song), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', songs_path, class: "btn btn-default btn-xs" %> | <%= link_to 'Add Song', new_song_path, class: "btn btn-default btn-xs" %>


