<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.name %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', dogs_path, class: "btn btn-default btn-xs" %> | <%= link_to 'New Dog', new_dog_path, class: "btn btn-default btn-xs" %>

