<p id="notice"><%= notice %></p>

<h1>Listing Critters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Lives </th>
      <th>Hobby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critters.order("name").each do |critter| %>
      <tr>
        <td class="critter-index"><p><strong><%= link_to critter.name, critter %></strong></p><p><%= link_to (image_tag critter.photo_url), critter %></p></td>
        <td><%= link_to critter.type.name, critter.type %></td>
        <td>With <%= link_to critter.owner.name, critter.owner %> in <%= critter.owner.city %>, <%= critter.owner.country.name %></td>
        <td><%= critter.hobby %></td>
        <td><%= link_to 'Show', critter %></td>
        <td><%= link_to 'Edit', edit_critter_path(critter) %></td>
        <td><%= link_to 'Destroy', critter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critter', new_critter_path %>
