<p id="notice"><%= notice %></p>

<h1><%= @critter.name %> <span class="critter-type">(<%= @critter.type.name.downcase %>)</span></h1>
<%= image_tag @critter.photo_url %>

<p>
  <strong>Lives with:</strong>
  <%= link_to @critter.owner.name, @critter.owner %> in <%= @critter.owner.city %>, <%= @critter.owner.country.name %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @critter.hobby %>
</p>

<%= link_to 'Edit', edit_critter_path(@critter) %> |
<%= link_to 'Back', critters_path %>
