<p id="notice"><%= notice %></p>

<h1><%= @guardian.name %></h1>

<p>
  <strong>City:</strong>
  <%= @guardian.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= link_to @guardian.country.name, @guardian.country %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
