<p id="notice"><%= notice %></p>

<h1>Listing Critters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>City</th>
      <th>Hobbies</th>
      <th>Guardian</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critters.each do |critter| %>
      <tr>
        <td><%= link_to critter.name, critter %></td>
        <td><%= critter.breed %></td>
        <td><%= critter.city %></td>
        <td><%= critter.hobbies %></td>
        <td><%= critter.guardian %></td>
        <td><%= critter.photo %></td>
        <td><%= link_to 'Show', critter %></td>
        <td><%= link_to 'Edit', edit_critter_path(critter) %></td>
        <td><%= link_to 'Destroy', critter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critter', new_critter_path %>
