<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @critter.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @critter.breed %>
</p>

<p>
  <strong>City:</strong>
  <%= @critter.city %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @critter.hobbies %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @critter.guardian %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @critter.photo %>
</p>

<%= link_to 'Edit', edit_critter_path(@critter) %> |
<%= link_to 'Back', critters_path %>
