<p id="notice"><%= notice %></p>

<h1><%= @critter.name %></h1>

<p>
  <strong>Breed:</strong>
  <%= @critter.breed %>
</p>

<p><strong>Lives with:</strong> <%= link_to @critter.guardian.name, @critter.guardian %></p>

<p><strong>Lives in:</strong> <%= @critter.guardian.city %>, <%= link_to @critter.guardian.country.name, @critter.guardian.country %></p>

<p>
  <strong>Hobbies:</strong>
  <%= @critter.hobbies %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @critter.photo_url %>
</p>

<%= link_to 'Edit', edit_critter_path(@critter) %> |
<%= link_to 'Back', critters_path %>
