<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <!--Bootstrap CDN file-->  
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
 <!--Bootstrap: link to javascript, and necessary for bootstrap-->
 <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <!-- Bootstrap: this is the bootstrap/javascript connection-->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Schmancy Blog App</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Blog', posts_path %></li>
          <li><%= link_to 'About', page_about_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class = "container"> <!--boostrap-->

<%= yield %>

</div><!--closes boostrap container-->

<footer>
<a href= "http://tryruby.org/" target="_blank"><i class="fa fa-diamond fa-2x "></i></a>  |  <a href= "http://facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x "></i></a>  |  <%= link_to 'TryRuby', "http://tryruby.org/" %> 
</footer>

</body>
</html>
