<p id="notice"><%= notice %></p>

<p>
  <strong>Artists in <%= @genre.name.capitalize %>:</strong>
  <ul>
  <% @genre.artists.order("name").each do |x| %>
  <li> <%= x.name %> </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_genre_path(@genre), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', genres_path, class: "btn btn-default btn-xs" %> | <%= link_to 'New Genre', new_genre_path, class: "btn btn-default btn-xs" %>
