<p id="notice"><%= notice %></p>

<h2>You are currently standing at...</h2>

<p>
  <%= @location.my_location %>
</p>

<h2>The closest buses are...</h2>
<% if @bus_count == 0 %> <!--@bus_count comes from the controller-->
  <p>...not really that close.  Time to walk, bike, taxi, or Uber.</p>
<% end %>

<h3>Heading North</h3>
<ul>
<% @nearby_northbound.each do |bus| %> <!--@nearby_buses comes from the controller-->
<li>
  <strong>Bus <%= bus["ROUTE"] %></strong> (#<%= bus["VEHICLE"] %>)<br>
  Heading <%= bus["DIRECTION"] %> towards <%= bus["TIMEPOINT"] %>
</li>
<% end %>
</ul>

<h3>Heading South</h3>
<ul>
<% @nearby_southbound.each do |bus| %> <!--@nearby_buses comes from the controller-->
<li>
  <strong>Bus <%= bus["ROUTE"] %></strong> (#<%= bus["VEHICLE"] %>)<br>
  Heading <%= bus["DIRECTION"] %> towards <%= bus["TIMEPOINT"] %>
</li>
<% end %>
</ul>

<h3>Heading East</h3>
<ul>
<% @nearby_eastbound.each do |bus| %> <!--@nearby_buses comes from the controller-->
<li>
  <strong>Bus <%= bus["ROUTE"] %></strong> (#<%= bus["VEHICLE"] %>)<br>
  Heading <%= bus["DIRECTION"] %> towards <%= bus["TIMEPOINT"] %>
</li>
<% end %>
</ul>

<h3>Heading West</h3>
<ul>
<% @nearby_westbound.each do |bus| %> <!--@nearby_buses comes from the controller-->
<li>
  <strong>Bus <%= bus["ROUTE"] %></strong> (#<%= bus["VEHICLE"] %>)<br>
  Heading <%= bus["DIRECTION"] %> towards <%= bus["TIMEPOINT"] %>
</li>
<% end %>
</ul>


<hr>

<ul>
<% @nearby_buses.each do |bus| %> <!--@nearby_buses comes from the controller-->
<li>
  <strong>Bus <%= bus["ROUTE"] %></strong> (#<%= bus["VEHICLE"] %>)<br>
  Heading <%= bus["DIRECTION"] %> towards <%= bus["TIMEPOINT"] %>
</li>
<% end %>
</ul>

<%= link_to 'New Search', new_location_path %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
